<div class="overview-wrapper">
	<div class="left">
		<table>
			<tr>
				<td>
					<div class="logo" style="background-image:url(http://bit.ly/2s81PwI)"></div>
				</td>
				<td>
					Software Engineer at <a href="#">Wiser</a> and Founder at <a href="#">WPG I.T.</a>
				</td>
			</tr>
			<tr>
				<td>
					<div class="logo" style="background-image:url(http://bit.ly/2sNYXYd)"></div>
				</td>
				<td>
					Studied Computer Science, Microbiology, and Chemistry at <a href="#">University of Manitoba</a>
				</td>
			</tr>
			<tr>
				<td>
					<div class="logo" style="background-image:url(https://avatars3.githubusercontent.com/u/16842229?v=3&s=460)"></div>
				</td>
				<td>
					Made 1,724 coontributions on <a href="#">Github</a> in the last year
				</td>
			</tr>
			<tr>
				<td>
					<div class="logo" style="background-image:url(http://bit.ly/2sDeFqg)"></div>
				</td>
				<td>
					Lives in <a href="#">London, UK</a>, and from <a href="#">Winnipeg, Canada</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="right">
		
	</div>
</div>