.overview-wrapper {
	display: block;
	width: 100%;
}
.left, .right {
	display: inline-block;
	vertical-align: top;
	margin: 30px;
	text-align: left;
}
.left {
	width: 360px;
}
.right {
	width: 260px;
}
.logo {
	width: 40px;
	height: 40px;
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
td {
	font-size: 13px;
	padding-bottom: 20px;
	vertical-align: top;
}
.left td:not(:first-child) {
	padding-left: 5px;
}
.right td:first-child {
	font-size: 15px;
	/*text-align:center;*/
}
.right td:first-child .fa {
}