<div class="sidebar-item">
	<div class="sidebar-item-title">
		<span class="circle-blue">
			<i class="fa fa-globe"></i>
		</span>
		Intro
	</div>
	<div class="me-description">
		My name is John Fedoruk. I'm a software engineer that loves taking on new challenges as an opportunity to learn.
	</div>
	<hr>
	<table class="achievements">
		<tr>
			<td>
				<i class="fa fa-suitcase"></i>
			</td>
			<td>
				Software Engineer at <a href="#">Wiser</a>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-suitcase"></i>
			</td>
			<td>
				Founder at <a href="#">WPG I.T.</a>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-suitcase"></i>
			</td>
			<td>
				Former data science consultant at <a href="#">University of Manitoba</a>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-suitcase"></i>
			</td>
			<td>
				Former bartender at <a href="#">Pandora Inn</a>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-university"></i>
			</td>
			<td>
				Graduated computer science at <a href="#">University of Manitoba</a>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-university"></i>
			</td>
			<td>
				Studied microbiology at <a href="#">University of Manitoba</a>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-university"></i>
			</td>
			<td>
				Studied chemistry at <a href="#">University of Manitoba</a>
			</td>
		</tr>

	</table>
</div>

<div class="sidebar-item">
	<div class="sidebar-item-title">
		<span class="circle-lime">
			<i class="fa fa-image"></i>
		</span>
		Photos
	</div>
	<div class="photos">
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
	</div>
</div>

<div class="sidebar-item" *ngFor="let i of array">
	{{i}}
</div>