<div class="sidebar-item">
	<div class="sidebar-item-title">
		<span class="circle circle-blue">
			<i class="fa fa-globe"></i>
		</span>
		Intro
	</div>
	<div class="me-description">
        {{ intro }}
	</div>
	<hr>
	<table class="achievements">
		<tr>
			<td>
				<i class="fa fa-suitcase"></i>
			</td>
			<td>
				Software Engineer at <a href="#">Wiser</a>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-suitcase"></i>
			</td>
			<td>
				Founder at <a href="#">WPG I.T.</a>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-suitcase"></i>
			</td>
			<td>
				Former data science consultant at <a href="#">University of Manitoba</a>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-suitcase"></i>
			</td>
			<td>
				Former bartender at <a href="#">Pandora Inn</a>
			</td>
		</tr>
		<tr *ngFor="let ed of education">
			<td>
				<i class="fa fa-university"></i>
			</td>
			<td>
				{{ed.end?'Graduated':'Studying'}} {{ed.focus}} at <a [href]="ed.url" target="_blank">{{ed.institution}}</a>
			</td>
		</tr>

	</table>
</div>

<div class="sidebar-item">
	<div class="sidebar-item-title">
		<span class="circle circle-gray">
			<i class="fa fa-github"></i>
		</span>
		Github
	</div>
	<git-graph [username]="github"></git-graph>
</div>

<div class="sidebar-item">
	<div class="sidebar-item-title">
		<span class="circle circle-lime">
			<i class="fa fa-image"></i>
		</span>
		Photos
	</div>
	<div class="photos">
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
		<div class="photo" style="background-image:url(https://surplus.calgary.ca/img/placeholder.jpg)"></div>
	</div>
</div>