.chat-tab {
	position: fixed;
	bottom: 0;
	right: 20px;
	width: 150px;
	height: 27px;
	font-size: 13px;
	line-height: 27px;
	cursor: pointer;
	user-select: none;
	background-color: #f6f7f8;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.chat-tab .fa {
	margin-left: 7px;
	margin-right: 5px;
	transform: translateY(-1px);
	font-size: 9px;
}
.chat-tab .fa-circle {
	color: lime;
}
.chat-tab .fa-circle-o {
}