:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
}

.wrapper {
    width: 90vw;
    background: transparent;
    height: calc( 10vw );
    height: 45vw;
    max-height: 90vh;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: absolute;
    max-width: calc( 90vh * 2);
    min-width: 900px;
    min-height: 450px;
}

.image {
    display: inline-block;
    background-color: black;
    height: 100%;
    width: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.info {
    display: inline-block;
    background-color: white;
    height: 100%;
    width: 29%;
}