<div class="places-wrapper">
    <table>
        <tr *ngFor="let location of locations">
            <td>
                <div class="logo" [ngStyle]="{backgroundImage:'url('+location.logo+')'}"></div>
            </td>
            <td>
                <div class="title"><a [href]="location.url" target="_blank">{{location.city}}, {{location.country}}</a></div>
                {{location.start | date:"yyyy"}} - {{location.end?(location.end|date:"yyyy"):"present"}}
            </td>
        </tr>
    </table>
</div>