<div class="places-wrapper">
    <table>
        <tr *ngFor="let location of locations">
            <td>
                <div class="logo" [ngStyle]="{backgroundImage:'url('+location.logo+')'}"></div>
            </td>
            <td>
                <div class="title"><a [href]="location.url" target="_blank">{{location.city}}, {{location.country}}</a></div>
                {{location.start | date:"yyyy"}} - {{location.end?(location.end|date:"yyyy"):"present"}}
            </td>
        </tr>
        <!-- <tr>
			<td>
				<div class="logo" style="background-image:url(http://bit.ly/2sDeFqg)"></div>
			</td>
			<td>
				<div class="title"><a href="#">London, UK</a></div>
				September 2016 - present
			</td>
		</tr>
		<tr>
			<td>
				<div class="logo" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIEfq9f-QPnHAjjaJZAjBh-3CwjsHl4oK1vR3Sm8mBWI71OKAT)"></div>
			</td>
			<td>
				<div class="title"><a href="#">Winnipeg, CA</a></div>
				January 1991 - September 2016
			</td>
		</tr> -->
    </table>
</div>