<form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!sent">
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="from">Email</label>
                </td>
                <td>
                    <input name="from" email [(ngModel)]="from">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="subject">Subject</label>
                </td>
                <td>
                    <input name="subject" [(ngModel)]="subject">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="body">Content</label>
                </td>
                <td>
                    <textarea rows="5" name="body" [(ngModel)]="body"></textarea>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-right">
                    <input type="submit" value="Submit" [disabled]="!f.valid||disabled">
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div *ngIf="sent">
    <h3>Thank you!</h3>
    <p>I will get in touch with you as soon as possible.</p>
</div>