<form (submit)="onSubmit($event)">
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="email">Email</label>
                </td>
                <td>
                    <input name="email" email>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="subject">Subject</label>
                </td>
                <td>
                    <input name="subject">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="content">Content</label>
                </td>
                <td>
                    <textarea rows="5" name="content"></textarea>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td class="text-right">
                    <button type="submit">Send</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>