<perfect-scrollbar class="container" class="messages cream-bg" #messageContainer>
    <div class="profile-block">
        <div class="profile-pic" style="background-image:url(/assets/images/profile-photos/johnny-london.jpg)">
        </div>
        <div class="profile-info">
            <div class="name">
                {{OWNER}}
            </div>
            <div class="title">
                Sofware Engineer
            </div>
        </div>
    </div>
    <div class="message" *ngFor="let message of messages" [ngClass]="message.sender==OWNER?'owner':'user'">
        <div class="bubble">{{message.message}}</div>
    </div>
</perfect-scrollbar>
<div class="input-wrapper">
    <div class="input-area">
        <textarea placeholder="Let's talk..." [(ngModel)]="input" (keydown.enter)="onSendMessage()"></textarea>
        <span class="input-buttons">
				<label for="file" class="input-button">
					<i class="fa fa-paperclip"></i>
				</label>
				<input id="file" name="file" type="file" (change)="onFileAttach($event)">
				<div class="input-button" (click)="onSendMessage()">
					<i class="fa fa-send"></i>
				</div>
			</span>
    </div>
</div>