<div class="contact-wrapper border">
	<div class="contact-title cream-bg">
		<i class="fa fa-comments"></i> Messages
	</div>
	<perfect-scrollbar class="container" [config]="config" class="messages cream-bg" #messageContainer>
		<div class="message" *ngFor="let message of messages" [ngClass]="message.sender==OWNER?'owner':'user'">
			<div class="bubble">
				{{message.message}}
			</div>
		</div>
	</perfect-scrollbar>
	<div class="input-wrapper">
		<div class="input-area">
			<textarea placeholder="Let's talk..."></textarea>
			<span class="input-buttons">
				<div class="input-button">
					<i class="fa fa-paperclip"></i>
				</div>
				<div class="input-button">
					<i class="fa fa-send"></i>
				</div>
			</span>
		</div>
	</div>
</div>