:host {
    width: 960px;
    display: inline-block;
    position: relative;
    margin-top: 15px;
	text-align: left;
	padding-bottom: 15px;
}
.contact-wrapper {
	text-align: center;
	background-color: whitesmoke;
}
.contact-title {
	text-align: left;
	padding-top: 15px;
	padding-bottom: 13px;
	font-size: 20px;
	border-bottom: 1px solid #d3d6da;
	font-weight: bold;
}
.contact-title .fa-comments {
	margin-left: 23px;
	margin-right: 13px;
	color: #90949c;
}