:host {
    width: 960px;
    display: inline-block;
    position: relative;
    margin-top: 15px;
}
app-sidebar, app-timeline {
	display: block;
    margin-bottom: 15px;
	padding-top: 1px;
}
app-sidebar {
    width: 333px;
    position: static;
	    vertical-align: baseline;
    float: left;
	overflow-y: visible
}
app-timeline {
    width: 607px;
    margin-left: 353px;
}