<div class="education-wrapper">
	<table>
		<tr>
			<td>
				<div class="logo" style="background-image:url(http://bit.ly/2sNYXYd)"></div>
			</td>
			<td>
				<div class="title"><a href="#">University of Manitoba</a></div>
				Computer Science Major ‧ 2010 - 2016 ‧ Winnipeg, Manitoba
			</td>
		</tr>
		<tr>
			<td>
				<div class="logo" style="background-image:url(http://bit.ly/2sNYXYd)"></div>
			</td>
			<td>
				<div class="title"><a href="#">University of Manitoba</a></div>
				Microbiology Elective Focus ‧ 2010 - 2016 ‧ Winnipeg, Manitoba
			</td>
		</tr>
		<tr>
			<td>
				<div class="logo" style="background-image:url(http://bit.ly/2sNYXYd)"></div>
			</td>
			<td>
				<div class="title"><a href="#">University of Manitoba</a></div>
				Chemistry Elective Focus ‧ 2010 - 2016 ‧ Winnipeg, Manitoba
			</td>
		</tr>
	</table>
</div>