:host {
    width: 960px;
    display: inline-block;
    position: relative;
    margin-top: 15px;
	text-align: left;
	padding-bottom: 15px;
}
.about-wrapper {
	background-color: whitesmoke;
}
.about-title {
	padding-top: 15px;
	padding-bottom: 13px;
	font-size: 20px;
	border-bottom: 1px solid #d3d6da;
	font-weight: bold;
}
.about-title .fa-user {
	margin-left: 23px;
	margin-right: 13px;
	color: #90949c;
}
.about-menu, .about-container {
	vertical-align: top;
}
.about-menu {
	padding-top: 15px;
	display: inline-block;
	width: 300px;
	height: 500px;
}
.about-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.about-menu li {
	margin: 6px 0;
    padding: 7px 23px 7px;
	font-size: 15px;
	cursor: pointer;
	user-select: none;
}
.about-menu li.active {
	padding-left: 20px;
	border-left: 3px solid #3b5997;
	font-weight: bold;
}
.about-menu li:focus {
	outline: none;
}
.about-menu li:hover {
	color: #0f0f0f;
}
.about-container {
	display: inline-block;
	width: calc( 100% - 310px );
	height: 600px;
	border-left: 1px solid #d3d6da;
}