:host {
    width: 960px;
    display: inline-block;
    position: relative;
    margin-top: 15px;
	text-align: left;
	padding-bottom: 15px;
}
.about-wrapper {
	background-color: whitesmoke;
}
.about-title {
	padding-top: 15px;
	padding-bottom: 13px;
	font-size: 20px;
	border-bottom: 1px solid #d3d6da;
	font-weight: bold;
}
.about-title .fa-user {
	margin-left: 23px;
	margin-right: 13px;
	color: #90949c;
}
.about-menu {
	display: inline-block;
	width: 300px;
	height: 500px;
}
.about-container {
	display: inline-block;
	width: calc( 100% - 310px );
	height: 600px;
	border-left: 1px solid #d3d6da;
}