:host {
	display: block;
	width: 100%;
	min-height: 100%;
	background-color: #e9ebed;
	text-align: center;
}
:host * {
	text-align: initial;
}
:host *:not(app-header) {
	display: inline-block;
	margin: 0 auto;
}
app-profile-cover {
	margin-left: 5px !important;
}