<div class="projects-wrapper">
	<table>
		<tr>
			<td>
				<div class="logo" style="background-image:url(https://s21.postimg.org/hpg6mm6o7/image.png)"></div>
			</td>
			<td>
				<div class="title"><a href="#">JavaCrypt</a></div>
				Founder ‧ Encrypted Chatrooms ‧ September 2016 - present
			</td>
		</tr>
		<tr>
			<td>
				<div class="logo" style="background-image:url(https://wpgit.ca/images/logo/logo%2050.png)"></div>
			</td>
			<td>
				<div class="title"><a href="#">WPG I.T.</a></div>
				Founder ‧ Contracting and Consulting ‧ April 2016 - present
			</td>
		</tr>
		<tr>
			<td>
				<div class="logo" style="background-image:url(https://s9.postimg.org/pnc7jzp4f/xks.png)"></div>
			</td>
			<td>
				<div class="title"><a href="#">XKEYSTORE</a></div>
				Founder ‧ Encrypted Key Management ‧ January 2017 - present
			</td>
		</tr>
	</table>
</div>