<div class="projects-wrapper">
    <table>
        <tr *ngFor="let project of projects">
            <td>
                <div class="logo" [ngStyle]="{backgroundImage:'url('+project.logo+')'}"></div>
            </td>
            <td>
                <div class="title"><a [href]="project.url" target="_blank">{{project.name}}</a></div>
                {{project.role}} ‧ {{project.start | string2Date | date:"yyyy"}} - {{project.end?(project.end | string2Date | date:"yyyy"):"present"}}
            </td>
        </tr>
    </table>
</div>