<div class="work-wrapper">
    <table>
        <tr *ngFor="let job of jobs">
            <td>
                <div class="logo" [ngStyle]="{backgroundImage:'url('+job.logo+')'}"></div>
            </td>
            <td>
                <div class="title"><a [href]="job.url" target="_blank">{{job.company}}</a></div>
                {{job.title}} ‧ {{job.start | string2Date | date:"yyyy"}} - {{job.end?(job.end | string2Date | date:"yyyy"):"present"}} ‧ {{job.city}}
            </td>
        </tr>
    </table>
</div>