/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Klavika;
    src: url(assets/fonts/klavika-regular-plain.otf);
}
body, html {
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}